---
import Layout from "../layouts/Layout.astro";
---

<Layout title="parisa">
  <div class="w-8/12 lg:w-6/12 mx-auto mb-10">
    <h1 class="text-5xl mb-10 text-center ">Projects</h1>
    <div
      class="grid md:grid-cols-4 gap-8 drop-shadow-[0px_35px_35px_rgba(39,245,131,0.6)]"
    >
      <a href="/projects/bantr">
        <img src="/public/images/bantr.png" class="rounded" width="600px" height="600px" />
      </a>
      <a href="/projects/fourth">
        <img src="/public/images/fourth.png" class="rounded" width="600px" height="600px"/>
      </a>
      <a href="/projects/introz">
        <img src="/public/images/introz.png" class="rounded" width="600px" height="600px"/>
      </a>
      <a href="/projects/twit">
        <img src="/public/images/twit.png" class="rounded" width="600px" height="600px"/>
      </a>
    </div>
  </div>
</Layout>
